<h1>Dashboard#login</h1>
<p id="notice"><%= notice %></p>
<div class="dashboard_menu">
	<%= render 'menu' %>
</div>
<div class="dashboard_contenido">
<!--

	<%#= render partial: 'users/form', locals: {user: @user} %>

-->
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %> 

	  <div class="field">
	    <%= label_tag @user.username %><br>
	    <%#= f.text_field :username, :disabled => true %>
	  </div>


	  <div class="field">
	    <%= f.label :password %><br>
	    <%= f.password_field :password %>
	  </div>
	  <div>
	    <%= f.label :password_confirmation %><br>
	    <%= f.password_field :password_confirmation %>
	  </div>

	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :lastname %><br>
	    <%= f.text_field :lastname %>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br>
	    <%= f.email_field :email ,:disabled => true %>
	  </div>

	 
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>