<!--aqui validacion de la imagen-->
<script type='text/javascript'>
           
function validateFiles(inputFile) {
var maxExceededMessage = "El Archivo excede el limite pérmitido (60 KB)";
var extErrorMessage = "Solo se aceptan extenciones: .jpg, .jpeg, .gif or .png ";
var allowedExtension = ["jpg", "jpeg", "gif", "png"];
             
var extName;
var maxFileSize = $(inputFile).data('max-file-size');
var sizeExceeded = false;
var extError = false;
             
$.each(inputFile.files, function() {
  if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
  if ($.inArray(extName, allowedExtension) == -1) {extError=true;};});
    if (sizeExceeded) {
      window.alert(maxExceededMessage);
        $(inputFile).val('');
          };
    if (extError) {
      window.alert(extErrorMessage);
        $(inputFile).val('');
          };
}

</script>
<!-- aqui-->
<div class="alta_equipment">

  <%= form_for(@equipment) do |f| %>
    <% if @equipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@equipment.errors.count, "error") %> No permiten que su solicitud sea procesada:</h2>

        <ul>
        <% @equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="parte1">
    <div class="anuncio">
      <p><%= f.label :name, "Titulo del anuncio" %><span class="leyenda"> (Máximo 45 caractéres)</span></p>
      <%= f.text_field :name, required: true %>
      <p><%= f.label :name, "Etiquetas" %></p>
      <%= f.text_field :etiquetas %>    
      <p><%= f.label :description, "Descripción" %></p>
      <%= f.text_area :description, cols: "90", rows: "10" %>
      <p>IMAGENES <span class="leyenda">(tamaño máximo de la imagen 1 MB)</span></p>
      <%= f.label :image_id, "Seleccione una imagen" %> 
      <%= f.file_field :image_id ,:onchange =>"validateFiles(this);",:data => {:max_file_size => 1.megabytes} %>      
    </div>
    <div class="detalles">
      <p>Categoria</p>
      <%= f.collection_select :category_id, Category.order(:id), :id, :title , include_blank: true, required: true  %>     
      <%= f.grouped_collection_select :subcategory_id, Category.order(:id), :subcategories, :title, :id, :title, include_blank: true , required: true%>
      <p><%= f.label :brand_id, "Marca" %></p>
      <%= select("equipment", "brand_id", Brand.all.collect {|p| [ p.name, p.id ] }.uniq, required: true) %>    
      <p><%= f.label :modelo %></p>
      <%= f.text_field :modelo, required: true  %>
      <p><%= f.label :year, "Año" %> | <%= f.label :color %></p>
      <%= f.number_field :year, maxlength: "4" , in: 1950...2030 %><%= f.text_field :color %>
       <p><%= f.label :country_id, "País" %></p>
      <%= f.collection_select :country_id, Country.order(:id), :id, :name , include_blank: true, required: true  %>
      <p><%= f.label :state_id, "Estado" %></p>
      <%= f.grouped_collection_select :state_id, Country.order(:id), :states, :name, :id, :name, include_blank: true , required: true%>   
      <p><%= f.label :ciudad %></p>
      <%= f.text_field :ciudad, required: true  %>          
    </div>
  </div>
  
  <div class="precio">
    <div class="tercio">
        <p><%= f.label :publication_type, "Tipo de publicación" %></p>
        <%= select("equipment","publication_type", options_for_select([['Compra',1],['Renta',2]])) %>      
    </div>
    <div class="tercio">
        <p><%= f.label :precio, "Precio de Venta" %></p>
        <%= f.number_field :precio, required: true %>      
    </div>
    <div class="tercio">
        <p><%= f.label :currency_id, "Tipo de Moneda"  %></p>
        <%= select("equipment", "currency_id", Currency.all.collect {|p| [ p.name, p.id ] }.uniq, required: true) %>
    </div>        
  </div>

  <div class="paquete_edit">

  <div class="crear_edit">
    <!--<div class="actions">-->
    <%= f.hidden_field :user_id %>
    <%= f.submit "Actualizar Anuncios" %>
    <!--</div>-->
  </div>
    </div>
</div>
<% end %>