<html>
<p> La siguiente informacion de optuvo de su formulario de contacto </p> 
<div >
  <div >
      <p> Nombre: <%= @buyer_n %></p>
      <p> Email: <%= @buyer_m %></p>
      <p> Teléfono: <%= @buyer_p %></p>
      <p> Mensaje: <%= @buyer_ms %></p>           
  </div>
  <div >
      <h1><%= @equipment.name %></h1>
      <p><strong>Detalles del producto:</strong></p>
      <div class="detalles">
        <p><strong>Marca: </strong><%= @equipment.modelo %>  |  <strong>Modelo: </strong><%= @equipment.brand.name %></p>
        <p><strong>Año: </strong><%= @equipment.year %>  |  <strong>Color: </strong><%= @equipment.color %></p>  
      </div>          
      <p><strong>Descripción:</strong></p>
      <div >
        <p><%= @equipment.description %></p>
      </div>     
  </div>  
</div>
<html>

